* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
}

.container {
  max-width: 800px;
  min-width: 400px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
}

label {
  font-size: 18px;
  display: block;
  margin-bottom: 15px;
}

input {
  display: inline-block;
  position: relative;
  top: -9px;
  height: 34px;
  width: 100px;
  padding: 5px;
  
  border: 1px solid #ccc;
  border-radius: 4px;
}

#result {
  padding: 0 5px;
}

.btn {
  margin-bottom: 20px;
}

.btn-default {
  margin-left: 5px;
  margin-right: 5px;
  -webkit-animation: zoomIn .5s;
          animation: zoomIn .5s;
}

.zoom-out {
  -webkit-animation: zoomOut .2s;
          animation: zoomOut .2s;
}


@-webkit-keyframes zoomIn {
  from {
    margin: 0;
    width: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  to {

  }
}


@keyframes zoomIn {
  from {
    margin: 0;
    width: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

  50% {
    opacity: 1;
    filter: alpha(opacity=100);
  }
  to {

  }
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  50%, to {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
    margin: 0;
    padding: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

}

@keyframes zoomOut {
  from {
    opacity: 1;
    filter: alpha(opacity=100);
  }

  50%, to {
    opacity: 0;
    filter: alpha(opacity=0);
    width: 0;
    margin: 0;
    padding: 0;
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3);
  }

}