* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #d9d9d9;
  font-family:"Helvetica Neue",Helvetica,Arial,"pingfang sc","Hiragino Sans GB","Microsoft YaHei",STHeiti,SimSun,sans-serif;
  font-size: 16px;
}

.container {
  max-width: 960px;
  min-width: 535px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */

header {
  background-color: #232323;
  height: 50px;
}
header .logo {
  float: left;
  background: url('http://ife.baidu.com/asset/img/logo.png') no-repeat;
  background-size: cover;
  width: 50px;
  height: 50px;
}
header ul {
  float: right;
}
header li {
  color: white;
  display: inline;
  margin-left: 10px;
}
header li a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
}

/* main and aside*/

main {
  margin-right: 255px;
}

main h3 {
  color: gray;
}

main .byline {
  color: gray;
  font-size: 12px;
}


main p {
  text-indent: 32px;
  line-height: 1.7;
}

main img {
  max-width: 100%;
}

main ul li {
  list-style-type: none;
}

article, aside {
  background-color: white;
  border-top: 1px solid #bfbfbf;
  border-left: 1px solid #bfbfbf;
  border-right: 2px solid #b3b3b3;
  border-bottom: 2px solid #b3b3b3;
  padding: 10px 25px 30px;
}

article {
  margin: 15px 0;
}

article ul.img-grid {
  padding: 0;
  margin-right: 10px;
}

article ul.img-grid li {
  display: inline-block;
  position: relative;
  width: 180px;
  height: 130px;
  margin: 10px;
  text-align: center;
}

article ul.img-grid li img {
  position: absolute;
  bottom: 0;
  left: 0;
}

article table {
  font-size: 14px;
  text-align: left;
  width: 100%;
  border-collapse: collapse;
}

article thead {
  background-color: #232323;
  color: white;
}

article tfoot {
  background-color: #d9d9d9;
}

article th, article td {
  border: none;
}

aside {
  float: right;
  width: 240px;
}

aside label {
  display: block;
  margin: 15px 0;
}

footer {
  background-color: #232323;
  height: 50px;
  color: white;
  font-size: 12px;
  text-align: center;
  padding: 15px;
}