* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  min-width: 800px;
  margin: auto;
  margin-top: 20px;
}

fieldset {
  display: inline-block;
  width: 49.5%;
  margin: auto;
  font-size: 22px;
  font-weight: bold;
  padding: 15px;
  height: 90px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

fieldset select, fieldset label {
  font-size: 20px;
  font-weight: normal;
}

fieldset select{
  border: 1px solid #ccc;
  border-radius: 2px;
}

.aqi-chart-wrap {
  display: block;
  width: 99.8%;
  height: 505px;
  margin-top: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

#debug-wrap {
  margin-top: 15px;
  overflow: auto;
  max-height: 100px;
  width: 99.8%;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #bbb;
}